body { 
  font: 14px Arial,sans-serif;
}

html, body, svg { width: 100%; height: 100%; }

g.JIRA { outline: 1px solid black; }
g.git { outline: 2px solid black; }
g.stash { outline: 2px solid gray; }

g.Task { outline-color: #bfe4ff; }
g.Task line { stroke: #bfe4ff; }
g.Story { outline-color: #b147ca; }
g.Story line { stroke: #b147ca; }
g.Bug { outline-color: #cc0000; }
g.Bug line { stroke: #cc0000; }
g.TestingSubtask { outline-color: #cccb6b; }
g.TestingSubtask line { stroke: #cccb6b; }
g.TechnicalSubtask { outline-color: #b3f290; }
g.TechnicalSubtask line { stroke: #b3f290; }

g.commit { outline-color: gray; }
g.branch { outline-color: orange; }
g.commit text { fill: gray; }
g.master text { fill: red; }

rect.ghx-label-0 {fill:#fff;stroke:#707070;}
text.ghx-label-0 {fill:#707070;}
rect.ghx-label-1 {fill:#815b3a;}
text.ghx-label-1 {fill:#fff;}
rect.ghx-label-2 {fill:#f79232;}
text.ghx-label-2 {fill:#fff;}
rect.ghx-label-3 {fill:#d39c3f;}
text.ghx-label-3 {fill:#fff;}
rect.ghx-label-4 {fill:#3b7fc4;}
text.ghx-label-4 {fill:#fff;}
rect.ghx-label-5 {fill:#4a6785;}
text.ghx-label-5 {fill:#fff;}
rect.ghx-label-6 {fill:#8eb021;}
text.ghx-label-6 {fill:#fff;}
rect.ghx-label-7 {fill:#ac707a;}
text.ghx-label-7 {fill:#fff;}
rect.ghx-label-8 {fill:#654982;}
text.ghx-label-8 {fill:#fff;}
rect.ghx-label-9 {fill:#f15c75;}
text.ghx-label-9 {fill:#fff;}