body { 
  font: 14px Arial,sans-serif;
}

html, body, svg { width: 98%; height: 98%; }
#config {
    position: fixed;
    top: 30px;
    right: 30px;
    font-size: 12px;
}
#footer {
    position: fixed;
    bottom: 5px;
    font-size: 12px;
    color: gray;
}

span.disabled { color: gray; }

rect.boundary  { fill:transparent; stroke-linecap:round; }
g.JIRA rect.boundary { stroke:black; stroke-width:1; }
g.git rect.boundary { stroke:black; stroke-width:1; }
g.stash rect.boundary { stroke:black; stroke-width:1; fill:rgba(127, 127, 127, 0.08); }

g.Task rect.boundary { stroke: rgb(191, 228, 255); fill: rgba(191, 228, 255, 0.08); }
g.Task line.issue-type { stroke: rgb(191, 228, 255); }
g.Story rect.boundary{ stroke: rgb(177, 71, 202); fill: rgba(177, 71, 202, 0.03); }
g.Story line.issue-type { stroke: rgb(177, 71, 202); }
g.Bug rect.boundary { stroke: rgb(204, 0, 0); fill: rgba(204, 0, 0, 0.02); }
g.Bug line.issue-type { stroke: rgb(204, 0, 0); }
g.TestingSubtask rect.boundary { stroke: rgb(204, 203, 107); fill: rgba(204, 203, 107, 0.06); }
g.TestingSubtask line.issue-type { stroke: rgb(204, 203, 107); }
g.TechnicalSubtask rect.boundary { stroke: rgb(179, 242, 144); fill: rgba(179, 242, 144, 0.04); }
g.TechnicalSubtask line.issue-type { stroke: rgb(179, 242, 144); }

g line.completed { stroke: green; }
g line.incompleted { stroke: orange; }

g text.done { text-decoration: line-through; }
g text.status { font-size: 12px; }

g.commit rect.boundary { stroke: lightgray; }
g.branch rect.boundary { stroke: orange; fill: rgba(255, 165, 0, 0.05); stroke-width: 2; }
g.conflict rect.boundary { stroke: brown; fill: rgba(255, 0, 0, 0.07); stroke-width: 2; }
g.commit text { fill: lightgray; }
g.master text.master { fill: red; }
g.branch text.additional { font-weight: bold; }

g.highlight-level-1 rect.boundary { stroke-width: 2; fill: rgba(255, 165, 0, 0.03); }
g.highlight-level-2 rect.boundary { stroke-width: 3; fill: rgba(255, 165, 0, 0.05); }
g.highlight-level-3 rect.boundary { stroke-width: 4; fill: rgba(255, 165, 0, 0.07); }
g.selected rect.boundary { stroke-width: 4; fill: rgba(255, 165, 0, 0.1); }

g.highlight-conflict rect.boundary { stroke: red; fill: rgba(220, 20, 60, 0.7); }
g.highlight-conflict text { fill: white !important; }
g.highlight-successor rect.boundary { stroke: green; }
g.highlight-predecessor rect.boundary { stroke: blue; }
g.stash.highlight-successor rect.boundary { stroke-width:2; fill:rgba(0, 255, 0, 0.08); }
g.stash.highlight-predecessor rect.boundary { stroke-width:2; fill:rgba(0, 0, 255, 0.08); }


path { stroke: gray; }
path.blocks { stroke: red; }
path.depends { stroke: brown; }

path.highlight-successor { stroke: green; stroke-width: 2; }
path.highlight-predecessor { stroke: blue; stroke-width: 2; }
path.highlight-conflict { stroke: red; stroke-width: 2; }

/* JIRA epic */
rect.ghx-label-0 {fill:#fff;stroke:#707070;}
text.ghx-label-0 {fill:#707070;}
rect.ghx-label-1 {fill:#815b3a;}
text.ghx-label-1 {fill:#fff;}
rect.ghx-label-2 {fill:#f79232;}
text.ghx-label-2 {fill:#fff;}
rect.ghx-label-3 {fill:#d39c3f;}
text.ghx-label-3 {fill:#fff;}
rect.ghx-label-4 {fill:#3b7fc4;}
text.ghx-label-4 {fill:#fff;}
rect.ghx-label-5 {fill:#4a6785;}
text.ghx-label-5 {fill:#fff;}
rect.ghx-label-6 {fill:#8eb021;}
text.ghx-label-6 {fill:#fff;}
rect.ghx-label-7 {fill:#ac707a;}
text.ghx-label-7 {fill:#fff;}
rect.ghx-label-8 {fill:#654982;}
text.ghx-label-8 {fill:#fff;}
rect.ghx-label-9 {fill:#f15c75;}
text.ghx-label-9 {fill:#fff;}